@font-face {
  font-family: "custom-icon"; /* Project id 4875479 */
  /* Color fonts */
  src: 
       url('iconfont.woff2?t=1743254509473') format('woff2'),
       url('iconfont.woff?t=1743254509473') format('woff'),
       url('iconfont.ttf?t=1743254509473') format('truetype');
}

.custom-icon {
  font-family: "custom-icon" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.custom-icon-tongzhi:before {
  content: "\e602";
}

.custom-icon-biaoqian:before {
  content: "\e603";
}

.custom-icon-shuju:before {
  content: "\e604";
}

.custom-icon-dayinji:before {
  content: "\e605";
}

.custom-icon-youjian:before {
  content: "\e606";
}

.custom-icon-bijiben:before {
  content: "\e607";
}

.custom-icon-shangchuan:before {
  content: "\e608";
}

.custom-icon-diannao:before {
  content: "\e609";
}

.custom-icon-sousuo:before {
  content: "\e60a";
}

.custom-icon-caiwu:before {
  content: "\e60b";
}

.custom-icon-kafei:before {
  content: "\e60c";
}

.custom-icon-maikefeng:before {
  content: "\e60d";
}

.custom-icon-tupian:before {
  content: "\e60e";
}

.custom-icon-yunduan:before {
  content: "\e60f";
}

.custom-icon-tuding:before {
  content: "\e610";
}

.custom-icon-gaojian:before {
  content: "\e611";
}

.custom-icon-tubiaozhizuomobandefuben-:before {
  content: "\e612";
}

.custom-icon-dianzan:before {
  content: "\e613";
}

.custom-icon-guanli:before {
  content: "\e614";
}

.custom-icon-rili:before {
  content: "\e615";
}

.custom-icon-qianbao:before {
  content: "\e616";
}

.custom-icon-liwu:before {
  content: "\e617";
}

.custom-icon-shijian:before {
  content: "\e618";
}

.custom-icon-fankui:before {
  content: "\e619";
}

.custom-icon-tubiaozhizuomobandefuben-1:before {
  content: "\e61a";
}

.custom-icon-xiaolian:before {
  content: "\e61b";
}

.custom-icon-jianqie:before {
  content: "\e61c";
}

.custom-icon-tubiaozhizuomobandefuben-2:before {
  content: "\e61e";
}

.custom-icon-gongkai:before {
  content: "\e61f";
}

.custom-icon-fasong:before {
  content: "\e620";
}

.custom-icon-dingwei:before {
  content: "\e621";
}

.custom-icon-dengji:before {
  content: "\e622";
}

.custom-icon-geren:before {
  content: "\e623";
}

.custom-icon-jiaoliu:before {
  content: "\e624";
}

.custom-icon-shouji-:before {
  content: "\e625";
}

.custom-icon-diannao-:before {
  content: "\e626";
}

.custom-icon-chucha-:before {
  content: "\e627";
}

.custom-icon-yinhangqia-:before {
  content: "\e628";
}

.custom-icon--:before {
  content: "\e629";
}

.custom-icon-hangqing-copy:before {
  content: "\e62a";
}

.custom-icon-wenjianleixing-biaozhuntu-jishiben:before {
  content: "\e6a4";
}

.custom-icon-wenjianleixing-biaozhuntu-gongzuobiao:before {
  content: "\e6a5";
}

.custom-icon-wenjianleixing-biaozhuntu-huandengpian:before {
  content: "\e6a6";
}

.custom-icon-wenjianleixing-biaozhuntu-shipinwenjian:before {
  content: "\e6a7";
}

.custom-icon-wenjianleixing-biaozhuntu-wenjianjia:before {
  content: "\e6a8";
}

.custom-icon-wenjianleixing-biaozhuntu-tupianwenjian:before {
  content: "\e6a9";
}

.custom-icon-wenjianleixing-biaozhuntu-weizhiwenjian:before {
  content: "\e6aa";
}

.custom-icon-wenjianleixing-biaozhuntu-yasuowenjian:before {
  content: "\e6ab";
}

.custom-icon-wenjianleixing-biaozhuntu-PDFwendang:before {
  content: "\e6ac";
}

.custom-icon-wenjianleixing-biaozhuntu-Wordwendang:before {
  content: "\e6ad";
}

.custom-icon-wenjianleixing-biaozhuntu-shengyinwenjian:before {
  content: "\e6ae";
}

.custom-icon-wenjianleixing-suolvetu-huandengpian:before {
  content: "\e6af";
}

.custom-icon-wenjianleixing-suolvetu-jishiben:before {
  content: "\e6b0";
}

.custom-icon-wenjianleixing-suolvetu-gongzuobiao:before {
  content: "\e6b1";
}

.custom-icon-wenjianleixing-suolvetu-shipinwenjian:before {
  content: "\e6b2";
}

.custom-icon-wenjianleixing-suolvetu-tupianwenjian:before {
  content: "\e6b3";
}

.custom-icon-wenjianleixing-suolvetu-weizhiwenjian:before {
  content: "\e6b4";
}

.custom-icon-wenjianleixing-suolvetu-wenjianjia:before {
  content: "\e6b5";
}

.custom-icon-wenjianleixing-suolvetu-yasuowenjian:before {
  content: "\e6b6";
}

.custom-icon-wenjianleixing-suolvetu-Word:before {
  content: "\e6b7";
}

.custom-icon-wenjianleixing-suolvetu-PDFwendang:before {
  content: "\e6b8";
}

.custom-icon-wenjianleixing-suolvetu-shengyinwenjian:before {
  content: "\e6b9";
}

